.new-expense {
  background-color: #0fa9e5;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #3a3a3a;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #04597a;
}
